{% extends "pneumovis/base.html" %}
{% load static %}
{% block content %}

<div class="row1">
  <div class="col-md-8">
    <img src="{% static 'images/image2.png' %}">
    <h2>Serotype 19A(1232)</h2>
    <p>description</p>
  </div>
  <div class="col-md-8">
    <img src="{% static 'images/image2.png' %}">
    <h2>Serotype 19A(1232)</h2>
    <p>desription</p>
  </div>
  <div class="col-md-8">
    <img src="{% static 'images/image2.png' %}">
    <h2>Serotype 19A(1232)</h2>
    <p>desription</p>
  </div>
</div>
  <div class="row2">
    <div class="col">
      <img src="{% static 'images/image2.png' %}">
      <h2>Serotype 19A(1232)</h2>
      <p>desription</p>
    </div>
    <div class="col">
      <img src="{% static 'images/image2.png' %}">
      <h2>Serotype 19A(1232)</h2>
      <p>description</p>
    </div>
    <div class="col-md-8">
      <img src="{% static 'images/image2.png' %}">
      <h2>Serotype 19A(1232)</h2>
      <p>desription</p>
    </div>
  </div>
  <div class="row2">
    <div class="col">
      <img src="{% static 'images/image2.png' %}">
      <h2>Serotype 19A(1232)</h2>
      <p>desription</p>
    </div>
    <div class="col">
      <img src="{% static 'images/image2.png' %}">
      <h2>Serotype 19A(1232)</h2>
      <p>description</p>
    </div>
    <div class="col-md-8">
      <img src="{% static 'images/image2.png' %}">
      <h2>Serotype 19A(1232)</h2>
      <p>desription</p>
    </div>
  </div>
</div>

{% endblock content %}
