{% extends "pneumovis/base.html" %}
{% load static %}
{% block content %}
  <h1>How to Navigate the PneumoVis Web Application</h1>
  <br>
  <h4>Home:</h4>
  <p>The "Home" page can be accessed by clicking the first tab labeled as "Home" on the navigation bar which can be found at the top of the screen.
      <br><br>
      The first thing you see is an overview graph.
      <br>(***COULD HAVE THIS AS LABELLED SCREENSHOT***)<br>Hover the mouse at the bottom left hand corner of the graph, three icons will appear: a home button, scroll button and a zoom button.
      <br>Clicking on the "zoom button" allows you to zoom in on the selected area of the overview graph.
      <br>Clicking on the "scroll button" allows you to navigate around the graph.<br>The "home button" resets the overview graph back to its original state.
      <br><br> Below the overview graph are some summary data based on the swabs found in the csv file containing all the research data.
      <br><br>
      Below the Overview Graph are summary statistics and other graphs which contain the same navigational options, at the bottom left corner of each graph, as the Overview Graph.
<h4>Adding Data:</h4>
  <p>The “Add Data” page can be accessed by clicking on the second tab labeled as “Add Data” on the navigation bar at the top of the screen.
      <br><br>To upload data, click on “browse” and select the file you wish to upload.<br>Your file name will then be displayed above the “browse” button. <br>Click on the “upload” button and your file will be uploaded onto the database.
      <br>You will have to upload a file with the correct format which is shown on the page. If the file you wish to upload is not in the correct format an error message will appear.
  <br><br>
  <h4>Data Cards:</h4>
  Data cards can be found on the third tab labeled as “data cards” on the navigation bar which can be found at the top of the screen.
  <br><br>
  Each card gives a summary of each serotype that was used and some statistics related to that serotype.<br>A serotype is a distinct variation within a species of bacteria or virus or among immune cells of different individuals.
  <br><br>
  <h4>About:</h4>
  The “About” page can be accessed by clicking on the “About” tab which is the fourth tab on the navigation bar which can be found at the top of the screen.
  <br><br>
This page gives more information about the research that is being done. This is also where you can find contact information about the researcher, Dr Dube.
  </p>
{% endblock content %}
