{% extends "pneumovis/base.html" %}
{% load static %}
{% block content %}
  <h1>Instructions to navigate the web application</h1>
  <br>
  <p>To Upload data: <br>Click on the “Add Data" buttton in he nav bart which can be found on the top of the page. Then click on “browse” and select the file you wish to upload and then your file name will be displayed above the “browse” button. Then chick on the “upload” button and your file will be uploaded onto the database.
  <br><br>Data cards:<br>
  Data cards can be found on the second tab labeled as “data cards” simply click on it and then click on any of the cards to enlarge the visual and get more information about it.
  <br><br>About: <br>
  This can be found on the fourth tab at the top of the page. It gives more information about the research that is being done.

  </p>
{% endblock content %}
